body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.034);
    box-shadow: 0 0 0.3vh black;
}

.yarn {
    padding-right: 2vh;
    font-size: 5vh;
    color: #2188B6;
}

.title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
}

.contain_it_all {
    display: flex;
    justify-content: center;
}

.gallerycontainer {
    padding-top: 5vh;
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

img {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    cursor: pointer;
}